

model-viewer {
  width: auto;
  max-width: 1200px;
  height: 700px;
  background-color: #ffffff;
  margin: 0 auto;
}


.Hotspot {
  background: url(../images/model/scar-hotspot.svg) center no-repeat;
  border: 0;
  cursor: pointer;
  width: 45px;
  height: 39px;
  transition: all 1s ease-in-out;
  transform-origin: center center;
}

@keyframes hotspotHover {
  0% {
    transform: scale(1);
    opacity: 0.50;
  }
  50% {
    transform: scale(1.15);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0.50;
  }
}

.Hotspot:hover {
  animation: hotspotHover 0.8s ease-in-out forwards;
}


.Hotspot:not([data-visible]) {
  opacity: 0;
  pointer-events: none;
}

.Hotspot:focus {
  border: 4px solid rgb(84, 84, 84);
  height: 32px;
  width: 32px;
  outline: none;
}

.HotspotAnnotation p {
    color: #333;
    line-height: 22px;
    font-weight: 300;
}

.HotspotAnnotation h2 {
    font-size: 18px;
    margin-bottom: 5px;
}

.HotspotAnnotation img {
  width: 36px;
  height: auto;
  display: block;
  margin-bottom: 10px;
}


.HotspotAnnotation{
  visibility: hidden;        
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,.25);
  color: rgba(0,0,0,.8);
  display: block;
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 700;
  left: calc(100% + 1em);
  max-width: 200px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: max-content;
  text-align: left;
}

.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(45, 45, 45, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}


.info-cards{
  width: 100%;
  max-width: 480px;         
  margin: 16px auto 32px;
  padding: 0 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;            
}

// mobile version of info cards styles
.info-card{
  width: 100%;
  max-width: 360px;          
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 14px 22px -10px rgba(65, 65, 65, 0.25); 
  padding: 12px 14px;         
  text-align: center;
}


.info-card h3{
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  font-size: 16px;       
  margin: 0 0 4px 0;
  font-weight: 700;
}

.info-card p{
  font-family: "Work Sans", Arial, Helvetica, sans-serif;
  color: #333;
  line-height: 20px;      
  font-weight: 300;
  font-size: 13px;           
  margin: 0;
}

@media (max-width: 768px) {
  model-viewer .Hotspot, .HotspotAnnotation {
    display: none;
     pointer-events: none;
  }
 

}


