#main-footer {
  background-color: #fff;

  color: #111;
  margin-top: 40px;
  padding: 0 20px 24px;
}

.footer-items {
  margin-top: 8px;
  margin-bottom: 8px;
}

.footer-items details {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #e2e2e2;
}

.footer-items details:first-child {
  border-top: 1px solid #e2e2e2;  
}

.footer-items summary {
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;      
  padding: 18px 0;    
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// arrow styles for mob footer
.footer-items summary::after {
  content: "";
  width: 12px;
  height: 12px;
  border-right: 2px solid #111;
  border-bottom: 2px solid #111;
  transform: rotate(45deg);
  transition: transform 0.2s ease;
}

// ratate the arrow when opn
.footer-items details[open] > summary::after {
  transform: rotate(-135deg);
}

.footer-items details div ul {
  margin: 0;
  padding: 0 0 0 4px;
  list-style: none;
}

.footer-items details div ul li {
  margin-bottom: 4px;
}

.footer-items details div ul li a {
  font-size: 14px;
  text-decoration: none;
  color: #626262;
}

.footer-items details ul li a:hover {
  color: #000;
  text-decoration: underline;
}

/* socials */

.footer-social {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;  
  align-items: center;
  gap: 80px;               
}

.footer-social a {
  display: inline-flex;
}

.footer-social img {
  width: 30px;
  height: 30px;
  display: block;
}

.footer-bottom {
  border-top: 1px solid #e2e2e2;
  padding-top: 10px;
  text-align: center;
}

.footer-bottom p {
  margin: 0;
  font-size: 12px;
  color: #777;
  margin-bottom: 30px;
  margin-top: 20px;
}

#footer-mobile {
  display: block;
}

#footer-desktop {
  display: none;  
}

#footer-follow-mob {
  margin-top: 18px;
  margin-bottom: 16px;
  text-align: center;
}

.footer-social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 92px;    
  margin-bottom: 5px;   
  margin-top: 5px; 
}

.footer-social-icons img {
  width: 28px;    
  height: 28px;
  display: block;
}

 .footer-social-icons img {
    width: 25px;
    height: 25px;
  }



@media screen and (min-width: 1200px) {

  #main-footer {
    padding: 30px 100px 20px;
  }

// no dropdowns
  #footer-mobile {
    display: none;
  }

  #footer-desktop {
    display: grid;
    column-gap: 80px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  #footer-desktop h3 {
    font-size: 14px;
    font-weight: 700;
    margin: 0 0 10px;
  }

  #footer-desktop  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #footer-desktop  li {
    margin-bottom: 6px;
  }

  #footer-desktop  a {
    font-size: 14px;
    text-decoration: none;
    color: #626262;
  }

  #footer-desktop a:hover {
    color: #000;
    text-decoration: underline;
  }

  #footer-follow h3 {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
  }

  .footer-social-icons {
    justify-content: flex-start;
    gap: 20px;
    margin-top: 20px;

  }

  .footer-social-icons img {
    width: 25px;
    height: 25px;
  }

    #footer-follow {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 0;
  }

  .footer-bottom {
    border-top: 1px solid #e2e2e2;
    padding-top: 12px;
    text-align: center;
  
  }

  .footer-bottom p {
    margin: 0;
    font-size: 12px;
    color: #777;
    margin-top: 20px;
    margin-bottom: 10px;
  }

    #footer-follow-mob {
    display: none;
  }
}
